.add-item-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #ffb86b;
    position: absolute;
    top: -14px;
    right: 175px;
    cursor: pointer;

    &:hover {
      background-color: #ffac52;
    }

    .plus-mark {
      height: 35px;
    }
  }
}
