.header-wrapper {
  display: flex;
  justify-content: space-around;

  .tab {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
  }

  .checklist {
    border-top-left-radius: 8px;

    .checklist-img {
      height: 50px;
    }
  }

  .done {
    border-top-right-radius: 8px;

    .checkmark-img {
      height: 50px;
    }
  }

  .unactive {
    background-color: #ECF0F1;
    cursor: pointer;c

    &:hover {
      background-color: #dde4e6;
    }
  }
}
